<% layout("/layouts/boilerplate") %>
  <%= success %>
  <h3>All Listings</h3>
  <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2">
    <% for(let listing of totalList){ %>
    <a href="/listings/<%= listing._id %>" class="listingLink">
      <div class="card">
        <img
          src="<%= listing.image %>"
          class="card-img-top"
          alt="listingImage"
          style="height: 16rem"
        />
        <div class="card-img-overlay">Wanderlust</div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b> <br>
            &#x20B9;<%= listing.price %>/ night
          </p>
        </div>
      </div>
    </a>
    <%} %>
  </div>
</body>
